@model IEnumerable<ASF.Entities.Product>
@{
    ViewBag.Title = "Products list";
}
<div id="main" class="container body-content" role="main">
    <br /><br /><br /><br /><br /><br />
</div>

<div class="caption" style="border:dashed">
    <a href='@Url.Action("mostrarCarrito", "Cart")'>
        @*<img src= @Url.Content("fa fa-shopping-cart fa-3x") />*@
        <i class="fa fa-shopping-cart animated fa-4x" style="float:left; padding-right:50px;" aria-hidden="true"></i>
        <h5 style="float:left; padding-right:10px" aria-haspopup="true">Carrito</h5>
    </a>
</div>

    @*@Html.Partial("_Espacio1")*@
    <div id="main" class="container body-content" role="main">
        <br /><br /><br /><br /><br /><br />
    </div>
    <h2>Lista de Productos</h2><br />
    @*<i class="fa fa-shopping-cart fa-3x" style="float:right; padding-right:50px" aria-hidden="true"></i>*@




    <br /><br />
    <hr style="clear:both" />

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DealerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuantitySold)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AvgStars)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rowid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ChangedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ChangedBy)
                </th>
                <th></th>
            </tr>*@
    @foreach (var item in Model)
    {
        @*<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DealerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantitySold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvgStars)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rowid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChangedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChangedBy)
                </td>
                <td>
                    @Html.ActionLink("Agregar", "agregarCarrito", "Cart", new { id=item.Id}, null)
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>*@

        <div class="col-sm-3 ">
            <div class="thumbnail">
                @*<img src="~/Views/Product/img_product/Zapatillas1.jpg" />*@
                <img src="https://http2.mlstatic.com/S_607138-MLA25676987464_062017-O.jpg" alt="...">

                <div class="caption">
                    <h5 id="nombre">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p id="precio">@Html.DisplayFor(modelItem => item.Description)</p>
                    <p id="precio"> $ @Html.DisplayFor(modelItem => item.Price)</p>
                    <p>@Html.ActionLink("Agregar a carrito", "agregarCarrito", "Cart", new { id = item.Id }, new { @class = "btn btn-primary" }) @Html.ActionLink("Leer más", "Details", new { id = item.Id }) </p>
                </div>
            </div>
        </div>
    }
    @*</table>*@
    @*@Html.Partial("_Espacio2")*@
