@*@model IEnumerable<ASF.Entities.CartItem>*@
@{
    ViewBag.Title = "Cart item";
}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110530097-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-110530097-1');
</script>

@*@Html.Partial("_Espacio1")*@
<div id="main" class="container body-content" role="main">
    <br /><br /><br /><br /><br /><br />
</div>

<style type="text/css">
    .panel .panel-heading a {
        color: white;
    }
</style>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a href="~/Cart/mostrarCarrito">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="huge">My cart items</div>
                        </div>
                    </div>
                </a>
            </div>
            <a href="~/Cart/mostrarCarrito">
                <div class="panel-footer">
                    <span class="pull-left">My cart items</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a href="~/Product/Index">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <i class="fa fa-list fa-5x"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="huge">Products</div>
                        </div>
                    </div>

                </a>
            </div>
            <a href="~/Product/Index">
                <div class="panel-footer">
                    <span class="pull-left">Product list</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
@**@
<h2>Cart item</h2><br />
<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table" >
    <tr >
        @*<th>
                @Html.DisplayName("Cart Id")
            </th>
            <th>
                @Html.DisplayName("Product Id")
            </th>*@
        <th class="alert-warning">
            @Html.DisplayName("Title")
        </th>
        <th class="alert-danger">
            @Html.DisplayName("Quantity")
        </th>
        <th class="alert-info">
            @Html.DisplayName("Price")
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangedBy)
            </th>*@
        <th></th>
    </tr>
    @{
        double total = 0;
    }
    @if (Session["Carrito"] != null)
    {
        foreach (var item in Session["Carrito"] as List<ASF.Entities.CartItemDTO>)
        {
            total += (double)(item.Price * item.Quantity);
            <tr >
                @*<td>
                         @Html.DisplayFor(modelItem => item.CartId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>*@
                <td class="bg-warning" style="border:dashed" >
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="alert-danger" style="border-style:solid">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td class="alert-info" style="border-style:solid">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                @*<td>
                        <input type="number" id="itemReQuantity" name="cantidad" />
                        @Url.Action("Edit", "CartController", new { item = item.Id });

                        @Html.ActionLink("ConfirmarCantidad", "Index", "Product")
                    </td>*@

                <td>
                    @using (Html.BeginForm("ChangeQuantity", "Cart", FormMethod.Post))
                    {
                        <input type="number" id="quantity" name="quantity" />
                        <input type="number" name="id" id="id" style="display:none" value=@item.ProductId />

                        <input type="submit" value="Cambiar Cantidad" />
                    }
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChangedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChangedBy)
                    </td>*@
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                  @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
        <tr>
            <th colspan="2">
                @Html.DisplayName("Total")
            </th>
            <th>
                @Html.DisplayName(total.ToString())
            </th>
            <th>
            </th>
        </tr>
    }
</table>
@Html.ActionLink("Go to product list", "Index", "Product")
<div class="row">
    <div class="col-lg-4" style="float:right">
        @Html.ActionLink("Buy cart", "finalizarCompra", "Cart", null, new { @class = "btn btn-primary" })
    </div>
</div>
@*@Html.Partial("_Espacio2")*@